
html, body {
    width: 100vw;
    overflow-x: hidden;
    color: var(--neutral_-d-grey);
    line-height: 16px;
    padding: 0;
    margin: 0;
    font-family:  Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

:root{
    --primary : #4CAF4F;
    --secondary: #263238;
    --info: #2194F3;
    --shade1: #43A046;
    --shade2: #388E3B;
    --shade3: #237D31;
    --shade4: #1B5E1F;
    --shade5: #103E13;
    --neutral_black:#263238;
    --neutral_-d-grey:#4D4D4D;
    --neutral_grey:#717171;
    --neutral_l_grey:#89939E;
    --neutral-grey_blue:#ABBED1;
    --neutral_silver:#F5F7FA;
    --neutral_white : #fff;
    --warning:#FBC02D;
    --success:#2E7D31;
    --error:#E53835;
    --tint1:#66BB69 ;
    --tint2:#81C784 ;
    --tint3:#A5D6A7 ;
    --tint4:#C8E6C9 ;
    --tint5:#E8F5E9 ;
    --px8:8px;
    --px16:16px;
    --px32:32px;
    --px40:40px;
    --px48:48px;
    --px64:64px;
    --px96:96px;
    --px144:144px;
    --px24:24px;
    
}


.head1,
.head2, 
.head3,
.head4{
    font-size: 64px;
    font-weight:700;
    line-height: 74px;
    font-family: inter;

}
.head2{
    font-size: 36px;
    line-height: 44px;
}
.head3{
    font-size: 28px;
    line-height: 36px;
}
.head4{
    font-size: 20px;
    line-height:  28px;
}
.body1{
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    font-family: inter;
}
.body2{
    font-size: 16px;
    line-height: 24px;
    font-family: inter;

}
.body3{
    font-size: 14px;
    line-height: 20px;
    font-family: inter;
}
.body4{
    font-size: 12px;
    line-height: 16px;
    font-family: inter;
}
.texts{
    color: #212121;

}
.texts:hover{
    color: var(--tint3)

}
.selected{
    color: var(--primary);
}
.info-custom-section-7{
    padding-top: var(--px64);
    padding-bottom: var(--px64);
}
.main-photo{
    background: var(--neutral_silver);
    color: var(--neutral_-d-grey);
    margin-top: var(--px32);
    padding-top: var(--px96);
    padding-bottom: var(--px96);
}

/* sectin-1*/
.logo{
    background-color: var(--neutral_silver);
}
.span-main-photo{
    color: var(--primary)
}

.footer{   
     padding-left: var(--px144);
    padding-right: var(--px144);

}
.margin-section-2,
.margin-section{
    padding-left: var(--px144);
    padding-right: var(--px144);
    margin-bottom: var(--px40) !important;
}
.margin-section-2{

    margin-bottom: var(--px48) !important;
}
.padding-info{
    padding-top:  var(--px64) ;
    padding-bottom:var(--px64) ;
}
.stats{
    background: var(--neutral_grey);
}

.stat-padding-icon{
    margin-right: var(--px16);
}
.icon-padding-right{
    margin-right: var(--px32);
}
.pre-footer-div{
   padding-top: var(--px32);
   padding-bottom: var(--px32);

    color: var(--neutral_black);
    background-color: var(--neutral_silver);
}
.pre-footer-btn{
    margin-bottom: var(--px32);
    margin-top: var(--px32);
}

.header-section{
    padding-top: var(--px24);
    padding-bottom: var(--px24);
}
/* acutal code now*/
.unseen-text-img{
    width: 442px;
    height: 433px;
}
.icons-3{
    padding-top: var(--px24); 
    padding-bottom: var(--px24); 
    padding-right: var(--px32);
    padding-left: var(--px32);

}
.register-now{
    background: var(--primary);
    color: var(--neutral_white);
    padding: 16px 32px 16px 32px !important;
    border: none;
    border-radius: 4px;

}
.btn-mix{
    background: rgb(200,230,201);
background: linear-gradient(90deg, rgba(200,230,201,1) 5%, rgba(76,175,79,1) 40%, rgba(129,199,132,1) 70%, rgba(200,230,201,1) 100%);
}
.footer{
    background-color: var(--neutral_black);
}

.footer-copyright{
    color: var(--neutral_silver);

    list-style-type: none; /* Remove bullets */
}
.heading-footer{
    color: var(--neutral_white);
    font-size: var(--px16)  ;
    text-align: left;
}
.form-sign-up{
    color: #D9DBE1;
    background: hsl(200, 9%, 35%);
    border: none ;
    padding: var(--px8);
    width: 20vw;

}
::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}



.header-link{
    color: var(--neutral_-d-grey);

    gap:  50px;
}
.pfooter{
    padding-top: var(--px40);
}
.div-info-2{
    gap:  50px;
}
.contact-icon-div{
    margin-top: var(--px8);

}
.contact-icon{
    margin-right: var(--px8);

    font-size: var(--px32);
}
.contact-icon-div-2{
    padding-bottom: var(--px32);
}

.img-services{
    width: 20vw;
}

/* Style the image */

.stats-info-img{
    width: var(--px48); 
    height: var(--px48);

}
.footer-imgs{
    width: var(--px32);
    height: var(--px32);
}
/* Style the box */
.overlay-box {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-photo-heading-pb{
    margin-top: 16px;
}
.photo-main-img{
    width: 391px;
    height: 407px;
}
.section-info-margin-first{
    margin-bottom: var(--px8);
}
.section-info-margin-second{
    margin-bottom: var(--px16);
}
.member-org{
    margin-top: var(--px16) ;
    margin-bottom: var(--px8);

}
.btn-margin{
    margin-top: var(--px32);
}
.stats-info{
    margin-top: var(--px8)
}

.stats-info-lower{
   margin-top:  var(--px40);

}
.pre-footer-p-text{
    margin-top: var(--px8);
}
.blog-div{
    position: relative;

    z-index: 0;

}
.blog-box{
    position: absolute;
     top: 60%;
     right: 10%;
     background: var(--neutral_silver);
     padding: var(--px8) ;
     width: 80%;
     border-radius: var(--px8);
     z-index: 1;

}


/* Style the link inside the box */
.overlay-box a {
    color: #fff;
    text-decoration: none;
}
.bgg{

    color: var(--primary);
}
.bggs{
    width: 368px;
    height: 286px;
}
.pointer{
    cursor: pointer;
}
.logo-img{
    width: 154.49px;
    cursor: pointer;
}
.top-section-2{
    margin-top: var(--px8);
    margin-bottom:var(--px16) ;
}
.img-3-mem{
    width: 65px; 
    height: 56px;
}
.overflow-stopper {
    overflow: hidden;
    width: -webkit-min-content;
    width: -moz-min-content;
    white-space: inherit;

    word-wrap: break-word;

}
.drop-1{
    box-shadow: 0px 2px 4px 0px rgba(171,190,209,0.6);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(171,190,209,0.6);
    -moz-box-shadow: 0px 2px 4px 0px rgba(171,190,209,0.6);
}
.blog{
    transition: 0.5s ease-in-out;
}
.blog:hover{
    box-shadow: 0px 8px 16px 0px rgba(171,190,209,0.4);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(171,190,209,0.4);
    -moz-box-shadow: 0px 8px 16px 0px rgba(171,190,209,0.4);
}
.drop-1:hover{
    box-shadow: 0px 4px 6px 0px rgba(171,190,209,0.6);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(171,190,209,0.6);
    -moz-box-shadow: 0px 4px 6px 0px rgba(171,190,209,0.6);
}

.drop-8{
    box-shadow: 0px 8px 16px 0px rgba(171,190,209,0.4);
-webkit-box-shadow: 0px 8px 16px 0px rgba(171,190,209,0.4);
-moz-box-shadow: 0px 8px 16px 0px rgba(171,190,209,0.4);
}
.drop-8:hover{
    box-shadow: 0px 16px 32px 0px rgba(171,190,209,0.4);
-webkit-box-shadow: 0px 16px 32px 0px rgba(171,190,209,0.4);
-moz-box-shadow: 0px 16px 32px 0px rgba(171,190,209,0.4);
}
.special-section{
    margin-top: 10% !important;
}

/* Case studies*/
#case-study-img-1{
    transition: 0.7s ease-in-out;
}
#case-study-1:hover #case-study-img-1{
        font-size: var(--px64);
}


.web-type-div{
    background-color: var(--neutral_silver);
    gap: var(--px16) var(--px64);
}
.type-web-item{
    padding: var(--px16);
}
.section-case-p64{
    background: var(--neutral_silver);
    box-shadow: 0px 2px 4px 0px rgba(171,190,209,0.6);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(171,190,209,0.6);
    -moz-box-shadow: 0px 2px 4px 0px rgba(171,190,209,0.6);
}
.photo-case-studies{
    width: 391px;
    height: 290px;
    border: var(--neutral_-d-grey) 3px solid;
    border-radius: 12px;

}
.contact-section-pre-div{
    display: flex
}
.icon-32{
    font-size: var(--px32);
}
.contact-section input{
    border: 1px solid;
    border-color: var(--tint3);
    color: var(--secondary);
    border-radius: 3px;
    width: 175px;



}
.contact-section ::placeholder{
    color: var(--secondary);

    opacity:0.6;
}
.input-form{
    padding:var(--px32);
    border-top: 1px  var(--shade3) solid;
    border-right:2px var(--tint3) solid;
    border-left: 4px var(--tint3) solid;
    border-bottom: 1px  var(--shade3) solid;
    overflow: hidden;
}
.letters{
    color: var(--neutral_grey);

}
textarea{
    border-color: var(--primary);
    color: var(--primary);
    border-radius: 3px;
}
.drop-1-hover{
    transition: 0.5s ease-in-out;
    
    border-top: 4px var(--primary) solid;
}
.drop-1-hover:hover{
    background: var(--neutral_white);
    border-bottom: 4px var(--primary) solid;
   

}
.text:hover{
    color: var(--primary);
    text-decoration: underline !important;
    transform: scale(1.1);

}

.email{
    height: 48px;
    
}
.input1{

}
.contact-link{
    color: var(--info);
}
/* services*/
.item{
    padding: var(--px32);
    padding-top: var(--px24);
    padding-bottom: var(--px24);
}
.item-div{
    gap: var(--px32);
}



/* breakpoints*/
@media (min-width:800px)  and (max-width: 1300px) {
    :root{
        --px8:6px;
        --px16:11px;
        --px24:17px;
        --px32:22px;
        --px40:28px;
        --px48:28px;
        --px48:33.41px;
        --px64:44.55px;
        --px96:67px;
        --px144:100px

    }.web-type-div{
        gap: var(--px16) var(--px64);
    }
    .head1{
        line-height: 44.55px;
        font-size: 44.55px;
    }
    .head2{
        font-size: 25.06px;
        line-height: 30.6px;
    }
    .head3{
        font-size: 19.49px;
        line-height: 25.1px;
    }
    .head4{
        font-size: 14px;
        line-height: 19px;
    }
    .body2{
        line-height: 16.57px;
        font-size: 11.14px;

    }
    .body4{
        font-size: 9.74px;
        line-height: 13.9px;
    }
    .header-link,.div-info-2{
        gap:  17px;
    }

    .logo{
        background: var(--neutral_white);
    }

    .register-now{
        padding: 14px 32px 14px 32px !important;
        border-radius: 4px; 
    }
    .photo-main-img{
        width: 272px;
        height: 283px;
    }
    .unseen-text-img{
        width: 307px; ;
        height: 301px; ;
    }
    .bggs{
        width: 25vw;
        height: 199px;
    }
    .logo-img{
        width: 107.49px;
    }
    
    .img-3-mem{
        width: 45px; 
        height: 34px;
    }
    .blog-box{

         top: 50%;
         left: 5%;
        padding: 11.14px ;
         width: 90%;
         border-radius: 5.57px;

    
    }
    .photo-case-studies{
        width: 200px;
        height: 150px;
    
    }



    
    
    
    
}
 
@media (min-width:1px)  and (max-width:800px) {
    :root{
        --px8:2.67px;
        --px16:5px;
        --px24:8px;
        --px32:11px;
        --px40:13px;
        --px48:16px;
        --px64:21px;
        --px96:32.5px;
        --px144:48px;
        overflow-x: hidden;
   
    }
    .head1{
        line-height: 25.4px;
        font-size: 21.37px;
    }
    .head2{
        font-size: 12.02px;
        line-height: 14.7px;
    }
    .head3{
        font-size: 9.35px;
        line-height: 12px;
    }
    .head4{
        font-size: 6.68px;
        line-height: 9.3px;
    }
    .body2{
        font-size: 0.334rem;
        line-height: 8px;
    }
   
    .body3{
        font-size: 4.67px;
        line-height: 6.7px;
    }
    .body4{
        font-size: 4.67px;
        line-height: 6.7px;
    }

    
    .register-now{
        padding: 8px 24px 8px 24px !important;
        border-radius: 4px; 
    }   
     .logo-img{
        width: 55px;
    }
    .photo-main-img,.photo-case-studies{
        width: 130px;
        height: 150px;
    }
    .unseen-text-img{
        width: 147px; ;
        height: 144px; ;
    }
    .blog-box{
        top: calc(30px+10%);
       padding: 5.34px ;

        border-radius: 2.67px;

   
   }

   .photo-case-studies{
    width: 140px;
    height: 70px;

    }
    .header-link,  .div-info-2{
        gap:  8px;
    }
    .div-info-2{
    width: 100%;
    }
    .contact-section-div-1{
        display: block;
        gap: 100px;
    }
    .sign-up-div,.form-sign-up{
        display: block;

    }
    .img-3-mem{
        width: 21px; 
        height: 19px;
    }
    .contact-section-pre-div{
        display: flex
    }
    .drop-1-hover{
        transition: 0.5s ease-in-out;
        
        border-top: 2px var(--primary) solid;
    }
    .drop-1-hover:hover{
        background: var(--neutral_white);
        border-bottom: 2px var(--primary) solid;
       
    }
    .real-form{
        width: 85vw !important;
    }
    .contact-section-div-1{
        width: 55vw;
    }

     .form-control{
        font-size: var(--px48) !important;

    }


    }

   @media (min-width:1px)  and (max-width:350px) {
    .text-up{
        display: block;
    }
    .photo-case-studies{
        width: 70px;
        height: 70px;
    }
    .logo-img{
        width: 40px;
    }
    .register-now{
        padding: 6px 16px 6px 16px !important;
        border-radius: 4px; 
    } 
    .margin-section ,.margin-section-2{
        padding-left: 22px;
        padding-right: 22px;

    }
    .photo-main-img{
        width: 80px;
    }
    .unseen-text-img{
        width: 100px;
    }
    .div-info-2{
        gap:  4px;
    }
    .icon-padding-right{
        margin-right: 5px;
    }
    .form-sign-up{
        display: none;
    }
    .form-control{
        font-size: var(--px32) !important;

    }

   }
   





.bggs{
    width: 23vw;
    height: 20vw;
    

}



/* animations lol */
.animated {

    animation:   ease-in-out  ;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-direction: reverse;

  }    
  .form-control{
    font-size: var(--px32);
}
  
